div#job {
  display: flex;
  margin: 1rem;

  div#labels {
    p {
      margin: .5rem;
      font-size: .9rem;
      text-align: right;
    }
  }

  div#data {
    p {
      margin: .5rem;
      font-size: .9rem;
      text-align: left;
    }
  }
}